:root {
    --blanco: #ffffff;
    --negro: #000000;
    --primario: #9ac1f5;  
    --fuentePrincipal:'Open Sans', sans-serif;
    --fuenteSecundaria:'Bree Serif', serif;
    --rosado: #fdb9f8;
    --rosado2: hwb(305 89% 1% / 0.84);
    --violeta: #ddc3fd;
    --rosafuerte: #f525ad;
}


*{
	margin: 0;
	padding: 0;
}


html{
	font-size: 62.5%;
    box-sizing: border-box;
    background-color: var(--rosado2);
  
    
}

body{
    
    font-family:var(--fuentePrincipal);
    color:var(--negro);
    font-variant: small-caps;
    font-weight: bold;
    font-size: 24px;
}
h1, h2{
    text-align: center;
    font-family: var(--fuenteSecundaria);
    font-style: oblique;
    font-size: 4.5rem;
}
h1{
    margin-block-start:0;
    margin-block-end: 0;
}
h4{
    font-size: 3rem;
    text-align: center;
}
span{
    color: var(--negro);
}

.navbar {
background: #d9a7c7 !important;  
background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7) !important;
background: linear-gradient(to right, #fffcdc, #d9a7c7) !important;
}
.nav-link{
    font-size:3rem;
    color: var(--negro);
    
}
.nav-imagenLogo{
    width: 40% !important;

}
.nav-imagenCarro{
    margin: 25px;
    width: 40%;
    border-radius: 10%;
    animation-duration: 2s;
    animation-name: mover;
    animation-iteration-count: infinite;  
   }
 @keyframes mover {
     0% {
       opacity: 0;
     }
     100% {
       opacity: 1;
     }
  }   

 .tituloVideo{
    background-image: linear-gradient( var(--rosado), var(--rosafuerte));
 }



.container-titulo{
    background-image: url(imagenes/fondoFPeq2.png);
}
.container-regaleria,
.container-formulario,
.container-ofertas {
    padding: 0; 
    background-image: url(imagenes/fondo1.png);
    padding-top: 5rem;
   padding-bottom: 5rem;
}

.footer{
    background-color: var(--rosado);
    text-align: center;
}
.imagen-correo:hover{
    -webkit-transform:scale(1.3);transform:scale(1.3)
}
.table{
    background-color: var(--primario);
}

.mapa{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-image: url(imagenes/fondo.png);
    padding-bottom: 4rem;
}
.contenido-imagen{
    margin: 2rem;
    text-align: center;
}
.container-ofertas{
    padding-bottom: 6rem;
}
.img-oferta{
    border-radius: 15%;
    border-color: var(--rosafuerte);
    border-style: groove;
}

@media (max-width:486px){ 
    iframe{
        width: 300px;
        height: 215px;
    }
    .nav-imagenCarro{
        margin: 25px;
        width: 15%;
        
    }
}
@media (max-width:320px){
     iframe{
        width: 250px;
        height: 180px;
    }
    .nav-imagenCarro{
        margin: 25px;
        width: 20%;
        
    }
    .table{
        overflow: hidden;
    }
}






